body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	position: relative;
  	font-family: arial, sans-serif;
}


/* navigasi */
.navbar{
    background: transparent;
    opacity: 0.7;
    position: absolute;
}

.navbar a{
    padding: 0 50 0 50;
}

.logo{
    padding-left: 100px;
}

.navbar-nav{
    padding-right: 100px;
}



/* konten1 */
.overlay1{
    background-color: rgba(32, 168, 192, 0.575);
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    opacity: 0.8;
}
.container1{
    background-image: url(images/MaskGroup1.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    padding-top: 200px; 
    opacity: 0.8; 
}
.case1{
    margin-left: 50px;
    color: white;
    opacity: 1;
    font-weight: bolder;
    padding-top: 50px;
}



/* konten2 */
.container2 {
    padding: 80px 150px;
}

.container2 h1{
    padding-bottom: 80px;
}

.icon1 {
    padding-bottom: -30px;
}

.icon2 {
    padding: 45px 0 44px 0;
}

.icon3 {
    padding: 45px 0 30px 30px;
}

.icon4 {
    padding: 40px 0 35px 0;
}



/* konten3 */
.overlay3{
    background-color: rgb(217, 217, 217, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    opacity: 0.8;
}

.container3{
    background-image: url(images/Mockup.png);
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    padding-top: 200px;
    opacity: 0.8;
}

.container3 h1 {
    margin-right: 50px;
}

.container3 p {
    margin-right: 50px;
    color: black;
}

.container3 button {
    margin-right:50px;
}



/* konten4 */
.container4{
    padding: 60px 150px 80px 150px;
}

.container4 h1{
    padding-bottom: 50px;
    font-weight: 700;
}

.container4 h3, h5, a, p{
    color: #929090;
}

.btn4{
    color: #8c8c8c;
}



/* konten5 */
.jumbotron{
    margin: 0;
}

.display-4{
    color: black;
    font-weight: 600;
}

.container5, .row2{
    padding: 30px 0 30px 0;
}

.carousel-indicators li{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #404040;
}



/* konten6 */
.overlay6{
    background-color: rgba(21, 99, 151, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    opacity: 0.8;
}

.container6 {
    background-image: url(images/MaskGroup2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    height: 300px;
    width: 100%;
    opacity: 0.8;
}

.case6{
    padding-top: 80px;
    color: white;
    font-weight: 800;
}



/* konten7 */
.container7{
    padding: 70px 180px 90px 180px;
}

.container7 h3{
    padding-bottom: 50px;
    color: black;
    font-weight: 600;
}



/* konten8 */
.container8 {
    background-color: black;
    height: 200px;
    width: 100%;
}

.container8 h3{
    color: white;
    padding: 70px 300px;
}



/* footer */
footer{
    background-color:#646363;
}

footer .row{
    padding: 50px 100px 0 100px;
}

footer .col{
    color: white;
}

